 .display flex{
 	background: red;
 	color: #333;
 	display:flex ;
 	gap: 15px;
 	padding: 15px;

 }
 .project h2{
 	color: red;
 	margin-bottom: 8px;
 }
 .project p}
 color:blue:10;
}
project-link{
	background: red;
	color: green;
	border-radius: 5px;
	width: 100px;
	height: 100px;