body{
 	color: yellow;
	font-family:arial;
	background-color: green;
}
 {
	textalign:left;
}

h1{
	text-align:center;
 	color:yellow;
}
.scorpion{
	text-align:left;
}

h2{
	color:white;
}

table,th,td{border:1px solid red;
	width:10%;
}
nav{text-align:center;
	justify-content:center;
	padding:0;
	margin:0;
	font-weiht:bold;
}
